/*
 Theme : Elagamal Group
 First Color : #313131
 Second Color : #F0542D

*/
/*======================================
// Start upper Bar
======================================*/ 
.upper-bar {
  background-color: #313131;
  color: #FFF
}

.upper-bar .info {
  margin: 6px 0
}
social-links{
    display: flex;
}
@media (max-width: 576px) {
  .upper-bar .info:first-child {
    margin-bottom: 0
  }
}


.upper-bar .get-quote {
  display: inline-block;
  border: 1px solid #F0542D;
  padding: 2px 10px;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .upper-bar .get-quote {
    border: none;
    margin-left: 5px
  }
}
/*======================================
// End upper Bar
======================================*/ 
/*======================================
// Start Navbar 
======================================*/ 
.navbar{
  background-color: #F0542D;
}
.navbar-brand > span {
  font-size: 40px
}

.navbar-brand span:first-child {
  color: #313131;
  font-weight: bold;
}

.navbar-brand span:last-child {
  color: #fff;
}

.navbar-nav .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 15px;
  color: #fff !important;
  font-weight: bold
}

.navbar-nav .active > .nav-link {
  color: #313131 !important
}


/*======================================
// End Navbar 
======================================*/ 
/*======================================
// Start Slider 
======================================*/ 
.slider {
  background-color: #DDD;
}

.slider .carousel-inner {
  display: flex;
  align-items: center;
  justify-content: left;
}

@media (max-width: 768px) {
    .slider .carousel-inner {
      justify-content: center;
    }
}

.slider .carousel-inner h1 {
  position: absolute;
  color: #FFF;
  z-index: 3;
  font-size: 60px;
  max-width: 900px;
  left: 100px;
  line-height: 1.5
}

@media (max-width: 768px) {
  .slider .carousel-inner h1 {
    font-size: 40px;
    max-width: 100%;
    left: auto;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .slider .carousel-inner h1 {
    font-size: 50px
  }
}

.slider .carousel-inner h1 span {
  background-color: #F0542D;
  color: #FFF;
  display: inline-block;
  padding: 2px 10px;
}

.slider .carousel-inner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
}

.slider .carousel-item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider .carousel-one {
  background-image: url('../img/Cover.jpg')
}

.slider .carousel-two {
  background-image:  url('../img/Cover.jpg')
}

.slider .carousel-three {
  background-image:  url('../img/Cover.jpg')
}

.slider .carousel-indicators li {
  height: 8px;
  cursor: pointer;
}
/*======================================
// Start Slider 
======================================*/ 
/*======================================
// Start featurea 
======================================*/
.features {
  padding: 100px 0 60px
}

.features i {
  background-color: #F0542D;
  color: #FFF;
  margin-bottom: 10px;
  width: 58px;
  height: 58px;
  line-height: 60px;
}

.features h3 {
  color: #313131;
  font-size: 22px;
}

.features p {
  color: #989898;
  margin-bottom: 40px
}
/*======================================
// Start features 
======================================*/ 
/*======================================
// Start Overview 
======================================*/ 

.overview {
  padding: 100px;
  background-color: #f0f5f7
}

.overview h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .overview h2 {
    font-size: 30px;
    margin-bottom: 15px
  }
}

.overview p {
  line-height: 2;
  font-size: 20px;
  width: 80%;
  margin: 0 auto 15px;
  color: #6a6a6a;
}

@media (max-width: 992px) {
  .overview p {
    width: 100%;
  }
}

.overview h4 {
  letter-spacing: 2px;
  font-weight: normal;
  color: #8b8a8a;
  margin-bottom: 40px;
}

.overview button {
  background-color: #F0542D;
  color: #FFF;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #F0542D;
}

/*======================================
// End Overview 
======================================*/ 

/* Start Featured Work */

.featured-work {
  padding: 100px 0
}

.featured-work h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.featured-work p {
  line-height: 1.6;
  font-size: 20px;
  width: 80%;
  margin: 0 auto 15px;
  color: #6a6a6a;
}

.featured-work ul {
  margin-top: 40px;
  margin-bottom: 50px
}

.featured-work ul li {
  color: #08526d;
  border: 2px solid #08526d;
  padding: 10px 20px !important;
  margin-left: 10px;
  margin-bottom: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.featured-work ul li.active,
.featured-work ul li:hover {
  background-color: #ec1c23;
  border: 2px solid #ec1c23;
  color: #FFF
}

.featured-work ul li:hover {
  cursor: pointer
}

.featured-work .shuffle-imgs .row {
  margin: 0
}

.featured-work .shuffle-imgs .row .col-md {
  padding: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.featured-work .row img {
  width: 100%
}

/* End Featured Work */
/* Start Latest Posts */

.latest-posts {
  padding: 0 0 100px
}

.latest-posts h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.latest-posts .section-description {
  line-height: 1.6;
  font-size: 20px;
  width: 80%;
  margin: 0 auto 45px;
  color: #6a6a6a;
}

.latest-posts .card {
  margin-bottom: 30px
}

.latest-posts .card .card-title {
  font-size: 20px;
  line-height: 1.5;
  color: #08526d
}

.latest-posts .card .card-text {
  color: #787878;
  margin-bottom: 5px
}

.latest-posts .card .card-link {
  color: #F0542D;
  font-weight: bold
}

/* End Latest Posts */
/* Start Contact us */

.contact-us {
  padding: 80px 0;
  background-color: #F0542D;
  color: #FFF;
  font-size: 22px
}

.contact-us p {
  margin: 0
}

@media (max-width: 768px) {
    .contact-us p {
      margin-bottom: 30px;
    }
}

.contact-us a {
  color: #FFF;
  border: 2px solid #FFF;
  padding: 6px 15px 8px;
  text-transform: uppercase;
  font-weight: bold;
}

/* End Contact us */

/* Start Copyright */

.copyright {
  border-top: 1px solid #c0c0c0;
  padding: 20px;
}

.copyright ul {
  margin: 0
}

.copyright ul li {
  display: inline-block;
}

.copyright ul li a {
  color: #777;
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}

/* End Copyright */
